<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Topi</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/red.svg" rel="icon">
  <link href="assets/img/red.svg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bootslander - v2.1.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Topi</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#features">Technologies</a></li>
          <!-- <li><a href="#gallery">Gallery</a></li> -->
          <li><a href="#team">Our Team</a></li>
          <!-- <li><a href="#pricing">Pricing</a></li> -->
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Contact Us!</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Detect Skin Cancer with <span>Quantum Machine Learning</span></h1>
            <h2>Easy Skin Cancer Detection with the Best Techniques</h2>
            <div class="text-center text-lg-left">
              <a href="/topi" class="btn-get-started scrollto">Try out our MVP</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300" style="padding-left:100px;">
          <img src="assets/img/topiproduct.svg" class="img-fluid animated" alt="" style="height:500px;">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">
<!-- <h1>We treat our health as if we're walking through a field of landmines.</h3>
  <h2>We treat our health as if we're walking through a field of landmines.</h3> -->

        <div class="row">
          <!-- <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div> -->

          <div class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Chronic diseases like heart disease, diabetes, and obesity are the leading cause of death and disability in the USA. </h3>
            <p><strong>Every year, more than 1.7 million Americans die because of these diseases.</strong></p>
            <p> Preventable chronic diseases are chronic conditions caused by lifestyle, so we can cure them by living healthy, but so many of us fail to do these basics everyday. And we fail to do these basics because <strong>we don’t have any idea what we should be personally doing for our health.</strong> What might be good for one person isn’t good for another. Like in some cases, eating that cookie is good for you because it boosts your blood sugar levels and provides you energy. <strong>In order to overcome all preventable chronic diseases, we must be able to create personal health plans for patients so that they know exactly what they need to do in order to prevent or recover from these chronic conditions.</strong></p>

            <h3 data-aos="fade-left">With Topi, we can find the right path to a healthy life. </h3>
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 0px;">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Topi Generates Personalized Health Plans</a></h4>
              <p class="description"> Topi utilizes causal modeling of complex genomic, epigenetic, and lifestyle data to generate personalized health plans for you. Topi will help you envision the future of your health and guide that future to where you want it to be. </p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-happy"></i></div>
              <h4 class="title"><a href="">Topi Builds Meaningful Relationships</a></h4>
              <p class="description">Topi is a physical AI agent that possesses powerful computer vision, natural language processing, and reasoning abilities. These capabilities allow it to engage with you and build a meaningful relationship. With this understanding and personal relationship, Topi is always able to nudge you towards the right direction </p>
            </div>

            <p data-aos="zoom-in" data-aos-delay="300" style="padding-top:15px;"> Learn more about Topi in our <a href="https://medium.com/@kevn.wanf/topi-your-personal-health-assistant-fb30902a9a65?source=your_stories_page---------------------------">article</a> and <a href="https://docs.google.com/presentation/d/1V32i2O6Y8SiLlJO9s6oh23Ur4kd7QhT-GS_1GrChffE/edit#slide=id.p">one-pager</a>!

            <!-- <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Topi is your Guide</a></h4>
              <p class="description"> Topi is more than just a robot helping you stay healthy and avoid/recover from preventable chronic disease. Topi's personality technology allows it to be more than just a tool in your life. Topi is your guide. </p>
          </div> -->
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up" style="padding-bottom: 0px;">
          <h2>The Technologies</h2>
          <p>How does Topi Work?</p>
        </div>

      </div>
    </section><!-- End Features Section -->

  

    <!-- ======= Details Section ======= -->
    <section id="details" class="details" style="padding-top: 0px;">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right" style="padding-top: 30px; padding-left:75px;">
            <img src="assets/img/genomics.png" class="img-fluid" alt="" style="height: 300px;">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Understanding Chronic Disease Mechanisms</h3>
            <p class="font-italic">
              Chronic conditions are very complex, influenced by genetic, epigenetic, and lifestyle factors which are far from being fully understood. </p>

              <p> Epigenetic factors are a combination of genetic factors and lifestyle factors where the exposures you receive (such as alcohol or smoke) affect which genes are expressed. </p>
            <p>
              In genomics and epigenomics, there have been associative links found between certain genetic and epigenetic patterns and disease, but a complete picture of the causal role genes and epigenetic patterns play has not been discovered. For example, there are 120 gene variants associated with T2D, but the functions of all these variants have not been mapped out.
              Similarly, the epigenome is present in the genome as DNA methylation or histone modifications, and while certain patterns of DNA methylation have been associated with T2D, no causal link has been found.
            </p>
            </p>

          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2"data-aos="fade-left" style="padding-top:100px;">
            <img src="assets/img/causal.png"   class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Causal Modeling</h3>
            <p class="">
              Once individual causal factors are understood, Topi is able to create a causal model of:
            </p>
            <ul>
              <li><i class="icofont-check"></i> Genomic Factors</li>
              <li><i class="icofont-check"></i> Epigenomic Factors</li>
              <li><i class="icofont-check"></i> Lifestyle Factors</li>
              <li><i class="icofont-check"></i> Disease Risk</li>
            </ul>
            <p>
              With this causal model, we can understand how these factors affect disease risk.  This is key to recommendation generation. By understanding how a patient’s risk for a chronic disease change over time, we can calculate what factors must change and by how much in order to decrease that risk. We can then turn these factor changes into meaningful health plans for patients. I created a proof-of-concept that utilizes causal modeling to generate personalzied health plans for people with hypertension. Check it out <a href="https://medium.com/@kevn.wanf/a-personalized-ai-approach-to-alleviating-hypertension-with-causal-modeling-16ba026f3ad1?sk=f16766a35717995c1cc0b2f5b73073aa">here.</a>
            </p>

          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right" style="padding-left:125px; padding-top: 75px;">
            <img src="assets/img/biosensor.svg" class="img-fluid" alt="" style="height:350px;">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Personalization</h3>
            <p>
              In order to make these health plans personal we need to access personal data about a patient’s genome, epigenome, and lifestyle. Genome sequencing and epigenome mapping are both technologies that are relatively mature, but in order to gain access to the personal lifestyle information such as: </p>
            <ul>
              <li><i class="icofont-check"></i> Sleep</li>
              <li><i class="icofont-check"></i> Exercise</li>
              <li><i class="icofont-check"></i> Nutrition</li>
            </ul>
            <p>
              We need a multipurpose biosensor that is able to track these factors. Such a multipurpose minimally-invasive biosensor is still many years away. Current approaches either need blood samples in order to measure biomarkers or they use light diffraction approaches that aren’t always accurate. With the personal lifestyle data from the biosensor and other data from genome and epigenome mappings, we can create true personalized health plans for patients.
            </p>

          </div>
        </div>
        </div>
        </section>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our Team</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/kevin.png" class="img-fluid" alt="" style="height: 284px;"></div>
              <div class="member-info">
                <h4>Kevin Wang</h4>
                <span>Co-Founder</span>
                <div class="social">
                  <!-- <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/kevin-wang-b2ba29192/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
<!-- 
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/elizabeth.png" class="img-fluid" alt="" style="height: 284px;"></div>
              <div class="member-info">
                <h4>Elizabeth Sanfillipo</h4>
                <span>Co-Founder</span>
                <div class="social">
                
                  <a href="https://www.linkedin.com/in/elizabeth-sanfilippo-67658b193/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/vikram.png" class="img-fluid" alt="" style="height: 284px;"></div>
              <div class="member-info">
                <h4>Vikram Menon</h4>
                <span>Co-founder</span>
                <div class="social">
                 
                  <a href="https://www.linkedin.com/in/vikram-menon-986a67193/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section>


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-12 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <h4> Contact us for more information</hr>
            <form action="contact method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="mail[name]" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="mail[email]" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="mail[subject]" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="mail[message]" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


    <div class="container" style = "margin-bottom: 50px;">
      <div class="copyright">
        &copy; Copyright <strong><span>Topi</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Designed by <a href="https://kevinwangg.com/">Kevin Wang</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>